.example-spacer {
    flex: 1 1 auto;
  }

  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
    padding-left: 60%;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
    border-radius: 5%;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .zeyada-regular {
    font-family: "Zeyada", cursive;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    font-size: x-large;
  }
  
  
  