<section>
    <nav>
        <mat-toolbar class="header">
            <div routerLink="/home">
                <img src="../../../assets/liloca-logo.png" alt="logo">
                <span class="dancing-script">Laços Liloca</span>
            </div>

            <div class="example-button-row">
                <button mat-raised-button color="white">Novidades</button>
                <button mat-raised-button color="white">Catálogos</button>
                <button routerLink="/sobre" mat-raised-button color="white">Sobre</button>
                <button routerLink="/contato" mat-raised-button color="white">Contato</button>
            </div>
        </mat-toolbar>
    </nav>
</section>