@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
    padding-left: 10%;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
    border-radius: 5%;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: gray; 
  padding-left: 2%; 
  padding-right: 38%;
  cursor: pointer; 
}
  
  img {
    width: 7%;
    height: auto;
    padding-left: 2%;
    margin-right: 0;
  }
  