<section>
    <nav>
        <mat-toolbar style="background-color: pink;">
            <span routerLink="/home" class="zeyada-regular" style="cursor: pointer;">Laços Liloca</span>
            
            <div class="example-button-row">
                <button mat-raised-button color="white">Novidades</button>
                <button mat-raised-button color="white">Coleções</button>
                <button routerLink="/sobre" mat-raised-button color="white">Sobre</button>
                <button routerLink="/contato" mat-raised-button color="white">Contato</button>
            </div>

            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
        </mat-toolbar>
    </nav>
</section>