@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

$button-margin: 8px;
$button-radius: 50px;
$image-width: 15%;
$padding: 3%;
$font-size: 2.5rem; 
$shadow-color: rgba(0, 0, 0, 0.2);
$text-color: gray;

.example-button-row .mat-mdc-button-base {
  background: $text-color; 
  border-radius: $button-radius;
  color: whitesmoke; 
  margin: $button-margin $button-margin $button-margin 0;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; 

  &:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
    transform: translateY(0); 
  }

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    transform: translateY(-3px); 
  }
}

.dancing-script {
  color: $text-color; 
  cursor: pointer; 
  font-family: "Dancing Script", cursive;
  font-size: $font-size;
  font-style: normal;
  font-weight: 500;
  padding-left: $padding; 
  padding-right: 50%;
  text-shadow: 2px 2px 2px $shadow-color;
}
  
img {
  height: auto;
  margin-right: 0;
  padding-left: $padding;
  width: $image-width;
  cursor: pointer; 
}

.header {
  background-color: pink; 
  border-bottom: 2px solid #c4b0b0; 
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  height: 100px;
}