<section>
    <img class="logo" src="../../../assets/liloca-logo2.png" alt="">
    <div class="texto-principal">
        <p>
            Bem-Vindo ao Laços Liloca! <br><br>
            Descubra a beleza e a versatilidade dos nossos laços artesanais, feitos com amor e cuidado para deixar cada
            momento especial ainda mais encantador. Seja para adornar os cabelos das pequenas princesas, complementar um
            look elegante ou presentear alguém querido, nossos laços são a escolha perfeita.
        </p>
        <p>
            <br>Por que Escolher Nossos Laços? <br><br>
            Qualidade Artesanal: Cada laço é cuidadosamente confeccionado à mão, garantindo acabamento impecável e
            durabilidade.
            Variedade de Estilos e Cores: Explore uma ampla gama de modelos, desde laços clássicos até designs modernos
            e estilosos.
            Acessórios Personalizados: Oferecemos opções personalizadas para atender às suas preferências únicas.
            Destaque-se com Elegância
            Os laços são mais do que simples acessórios - são uma expressão de estilo e personalidade. Na nossa coleção,
            você encontrará o laço perfeito para cada ocasião, seja uma festa infantil, um evento especial ou o dia a
            dia.
        </p>
    </div>
</section>