<section>
    <div class="texto-principal">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at sapien vel elit malesuada placerat
            vitae at mauris. Aenean quis arcu ex. Sed consectetur lorem sed vulputate congue. Integer aliquam enim et
            justo cursus convallis. Donec a ligula consequat, auctor eros ornare, dignissim leo. Maecenas ullamcorper
            tincidunt turpis accumsan rhoncus. Morbi sapien leo, tincidunt eget felis sit amet, iaculis iaculis lorem.
            Nunc commodo tempor urna, vel rhoncus tortor ultricies a.

            Quisque ante velit, eleifend sed mauris et, fringilla malesuada est. Duis placerat erat commodo viverra
            scelerisque. Proin sit amet metus ligula. Fusce maximus purus sed metus rutrum, finibus blandit dui viverra.
            Aliquam mollis eget ante vel mollis. Vestibulum pellentesque risus vel dignissim mollis. Proin orci nisi,
            pretium vel cursus ut, dictum ut magna. Curabitur non nunc velit.

            Etiam ornare vitae risus a sodales. Proin id porttitor ex. In commodo sollicitudin orci, vel ornare ligula
            hendrerit ornare. Praesent vitae viverra leo. Phasellus arcu elit, volutpat nec massa nec, congue fermentum
            ipsum. In hac habitasse platea dictumst. Ut accumsan faucibus elit. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas. Donec non ex ut est efficitur pharetra sagittis eget
            mi. Maecenas eu urna at nunc tempus facilisis vel at massa. Curabitur eu iaculis nisi, condimentum hendrerit
            risus. Etiam suscipit tortor elit, ut ullamcorper diam scelerisque eu. Praesent ac orci sed elit blandit
            pulvinar. Aenean cursus porttitor metus feugiat elementum. Praesent et tristique nisl.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at sapien vel elit malesuada placerat
            vitae at mauris. Aenean quis arcu ex. Sed consectetur lorem sed vulputate congue. Integer aliquam enim et
            justo cursus convallis. Donec a ligula consequat, auctor eros ornare, dignissim leo. Maecenas ullamcorper
            tincidunt turpis accumsan rhoncus. Morbi sapien leo, tincidunt eget felis sit amet, iaculis iaculis lorem.
            Nunc commodo tempor urna, vel rhoncus tortor ultricies a.

            Quisque ante velit, eleifend sed mauris et, fringilla malesuada est. Duis placerat erat commodo viverra
            scelerisque. Proin sit amet metus ligula. Fusce maximus purus sed metus rutrum, finibus blandit dui viverra.
            Aliquam mollis eget ante vel mollis. Vestibulum pellentesque risus vel dignissim mollis. Proin orci nisi,
            pretium vel cursus ut, dictum ut magna. Curabitur non nunc velit.

            Etiam ornare vitae risus a sodales. Proin id porttitor ex. In commodo sollicitudin orci, vel ornare ligula
            hendrerit ornare. Praesent vitae viverra leo. Phasellus arcu elit, volutpat nec massa nec, congue fermentum
            ipsum. In hac habitasse platea dictumst. Ut accumsan faucibus elit. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas. Donec non ex ut est efficitur pharetra sagittis eget
            mi. Maecenas eu urna at nunc tempus facilisis vel at massa. Curabitur eu iaculis nisi, condimentum hendrerit
            risus. Etiam suscipit tortor elit, ut ullamcorper diam scelerisque eu. Praesent ac orci sed elit blandit
            pulvinar. Aenean cursus porttitor metus feugiat elementum. Praesent et tristique nisl.
        </p>
    </div>
</section>